In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Route_11_bus_51938440.txt',encoding='utf-8')

In [3]:
df.shape

(142324, 33)

In [4]:
df['ACTDATETIME'] = df['ACTDATETIME'].astype('datetime64[ns]')

In [5]:
df.head()

,BUSRDID,DATATYPE,ROUTEID,SUBROUTEID,PRODUCTID,STATIONSEQNUM,STATIONNUM,ISARRLFT,ACTDATETIME,RECDATETIME,...,ONPNUM,OFFPNUM,LEFTPNUM,TPTDATA,DOORSTATE,PECCANCYTYPE,PECCANCYTIME,STANDARDVALUE,PECCANCYVALUE,GPSMILE
0,28408848073,3,11,11,51938440,NaN,0,NaN,2017-05-21 06:43:01,5/21/2017 6:45:21 AM,...,NaN,NaN,NaN,NaN,NaN,NaN,1/1/1970 8:00:00 AM,NaN,NaN,31380518
1,28408848397,3,11,11,51938440,NaN,0,NaN,2017-05-21 06:43:10,5/21/2017 6:45:23 AM,...,NaN,NaN,NaN,NaN,NaN,NaN,1/1/1970 8:00:00 AM,NaN,NaN,31380518
2,28408848933,3,11,11,51938440,NaN,0,NaN,2017-05-21 06:43:21,5/21/2017 6:45:26 AM,...,NaN,NaN,NaN,NaN,NaN,NaN,1/1/1970 8:00:00 AM,NaN,NaN,31380518
3,28408849287,3,11,11,51938440,NaN,0,NaN,2017-05-21 06:43:31,5/21/2017 6:45:28 AM,...,NaN,NaN,NaN,NaN,NaN,NaN,1/1/1970 8:00:00 AM,NaN,NaN,31380518
4,28408849608,3,11,11,51938440,NaN,0,NaN,2017-05-21 06:43:40,5/21/2017 6:45:30 AM,...,NaN,NaN,NaN,NaN,NaN,NaN,1/1/1970 8:00:00 AM,NaN,NaN,31380518

In [6]:
#得把运营类型在2，3删除，就是在首末站的那些数据
db = df[df['BUSSID'].isin([4,5])]

### Data Check
选择工作日的数据，并输出查看，寻找noise filter的方式。
通过查看有很多在首末站的重复记录，按照Nonlinear Dynamics课程的思路，创建一个low frequency filter，只让低频信号通过。
高频就是terminal station的GPS重复出现高达50(自定义)次以上，可以认为是high frequency即noise。

In [7]:
db_1 = db[(db['ACTDATETIME'] >'2017-05-22 00:00:00') & (db['ACTDATETIME'] < '2017-05-27 00:00:00')]

In [8]:
db_2 = db_1.loc[:,['ACTDATETIME','LONGITUDE','LATITUDE','BUSSID','STATIONTYPE','STATIONSEQNUM']]

In [9]:
db_2.to_csv('check.csv',index = False)

## Noise filter

In [85]:
#LonLat = db_2.loc[:,['LONGITUDE','LATITUDE']].round(6)
LonLat = db.loc[:,['LONGITUDE','LATITUDE']].round(6)

### Noise filter by columns

In [71]:
a = LonLat.iloc[:,0]
b = LonLat.iloc[:,1]
a_1 = a.groupby((a.shift() != a).cumsum())\
.filter(lambda x: len(x) <30)
b_1 = b.groupby((b.shift() != a).cumsum())\
.filter(lambda x: len(x) <30)

In [73]:
a_1.dropna(inplace=True)

In [58]:
b_1.dropna(inplace=True)

In [42]:
a_1.to_csv('before_DCE_for_route11_Bus51938440.txt',header=None, index=None, sep=' ', mode='w')

### Noise filter by Table with two operating direction
It's better to filter noise on the whole table, because filtering noise by comlumns may end up having columns with different length.

A side note: One still have to do filtering based on only one column, here I decided to do that by the longitude column.

In [7]:
bbb = db.loc[:,['ACTDATETIME','LONGITUDE','LATITUDE','BUSSID','ISARRLFT','STATIONTYPE','STATIONSEQNUM']].copy()

In [8]:
bbb

,ACTDATETIME,LONGITUDE,LATITUDE,BUSSID,ISARRLFT,STATIONTYPE,STATIONSEQNUM
114,2017-05-21 07:02:04,119.987885,31.849114,4,1.0,6.0,1.0
115,2017-05-21 07:02:08,119.987814,31.849121,4,NaN,NaN,NaN
116,2017-05-21 07:02:17,119.987555,31.848926,4,NaN,NaN,NaN
117,2017-05-21 07:02:18,119.987536,31.848903,4,2.0,6.0,1.0
118,2017-05-21 07:02:28,119.987140,31.848926,4,NaN,NaN,NaN
119,2017-05-21 07:02:37,119.986413,31.849248,4,NaN,NaN,NaN
120,2017-05-21 07:02:47,119.985746,31.849065,4,NaN,NaN,NaN
121,2017-05-21 07:02:58,119.985229,31.848340,4,NaN,NaN,NaN
122,2017-05-21 07:03:08,119.984545,31.847718,4,NaN,NaN,NaN
123,2017-05-21 07:03:18,119.983796,31.847210,4,NaN,NaN,NaN
124,2017-05-21 07:03:28,119.983544,31.847033,4,NaN,NaN,NaN
125,2017-05-21 07:03:37,119.983544,31.847033,4,NaN,NaN,NaN
126,2017-05-21 07:03:47,119.983544,31.847033,4,NaN,NaN,NaN
127,2017-05-21 07:03:57,119.983544,31.847033,4,NaN,NaN,NaN
128,2017-05-21 07:04:07,119.983488,31.846996,4,NaN,NaN,NaN
129,2017-05-21 07:04:12,119.983283,31.846850,4,1.0,3.0,2.0
130,2017-05-21 07:04:17,119.983053,31.846678,4,NaN,NaN,NaN
131,2017-05-21 07:04:22,119.982890,31.846578,4,2.0,3.0,2.0
132,2017-05-21 07:04:27,119.982860,31.846550,4,NaN,NaN,NaN
133,2017-05-21 07:04:38,119.982690,31.846428,4,NaN,NaN,NaN
134,2017-05-21 07:04:48,119.982208,31.846063,4,NaN,NaN,NaN
135,2017-05-21 07:04:57,119.981598,31.845610,4,NaN,NaN,NaN
136,2017-05-21 07:05:08,119.980981,31.845190,4,NaN,NaN,NaN
137,2017-05-21 07:05:18,119.980240,31.844671,4,NaN,NaN,NaN
138,2017-05-21 07:05:28,119.979375,31.844058,4,NaN,NaN,NaN
139,2017-05-21 07:05:39,119.978464,31.843440,4,NaN,NaN,NaN
140,2017-05-21 07:05:49,119.977616,31.842856,4,NaN,NaN,NaN
141,2017-05-21 07:05:56,119.977083,31.842451,4,1.0,3.0,3.0
142,2017-05-21 07:05:58,119.976970,31.842371,4,NaN,NaN,NaN
143,2017-05-21 07:06:09,119.976828,31.842226,4,NaN,NaN,NaN
...,...,...,...,...,...,...,...
137228,2017-06-19 09:42:20,119.962026,31.800099,4,NaN,NaN,NaN
137229,2017-06-19 09:42:31,119.962245,31.800056,4,NaN,NaN,NaN
137230,2017-06-19 09:42:38,119.962671,31.799956,4,2.0,3.0,14.0
137231,2017-06-19 09:42:38,119.962671,31.799956,4,NaN,NaN,14.0
137232,2017-06-19 09:42:41,119.962904,31.799896,4,NaN,NaN,NaN
137233,2017-06-19 09:42:50,119.963728,31.799696,4,NaN,NaN,NaN
137234,2017-06-19 09:43:00,119.964768,31.799460,4,NaN,NaN,NaN
137235,2017-06-19 09:43:10,119.965555,31.799278,4,NaN,NaN,NaN
137236,2017-06-19 09:43:20,119.965759,31.799223,4,NaN,NaN,NaN
137237,2017-06-19 09:43:31,119.965759,31.799223,4,NaN,NaN,NaN
137238,2017-06-19 09:43:40,119.965759,31.799223,4,NaN,NaN,NaN
137239,2017-06-19 09:43:51,119.965759,31.799223,4,NaN,NaN,NaN
137240,2017-06-19 09:44:01,119.965976,31.799188,4,NaN,NaN,NaN
137241,2017-06-19 09:44:13,119.965968,31.799355,4,NaN,NaN,NaN
137242,2017-06-19 09:44:23,119.965808,31.799348,4,NaN,NaN,NaN
137243,2017-06-19 09:44:33,119.965238,31.799460,4,NaN,NaN,NaN
137244,2017-06-19 09:44:42,119.964533,31.799626,4,NaN,NaN,NaN
137245,2017-06-19 09:44:52,119.963619,31.799856,4,NaN,NaN,NaN
137246,2017-06-19 09:45:02,119.962811,31.800099,4,NaN,NaN,NaN
137247,2017-06-19 09:45:12,119.961931,31.800345,4,NaN,NaN,NaN
137248,2017-06-19 09:45:23,119.961136,31.800556,4,NaN,NaN,NaN
137249,2017-06-19 09:45:34,119.960164,31.800868,4,NaN,NaN,NaN
137250,2017-06-19 09:45:46,119.959155,31.801308,4,NaN,NaN,NaN
137251,2017-06-19 09:45:56,119.958271,31.801775,4,NaN,NaN,NaN
137252,2017-06-19 09:46:05,119.957536,31.802175,4,NaN,NaN,NaN
137253,2017-06-19 09:46:16,119.957270,31.802671,4,NaN,NaN,NaN
137254,2017-06-19 09:46:26,119.957374,31.803086,4,NaN,NaN,NaN
137255,2017-06-19 09:46:36,119.957603,31.803846,4,NaN,NaN,NaN
137256,2017-06-19 09:46:47,119.957743,31.804348,4,NaN,NaN,NaN
137257,2017-06-19 09:46:56,119.957805,31.804490,4,NaN,NaN,NaN

In [9]:
bbb = bbb.groupby((bbb.iloc[:,1].shift() != bbb.iloc[:,1]).cumsum())\
.filter(lambda x: len(x) <20)

In [99]:
bbb.loc[:,['LONGITUDE','LATITUDE']].to_csv('before_DCE_for_route11_Bus51938440.txt',header=None, index=None, sep=' ', mode='w')

In [10]:
bbb.to_csv('noise_filtered_Route11Bus51938440.csv',index=False)

### Noise filter by Table with only one direction
Since the result of Delay Coordinate Embedding(DEC) is not good as I expected to be, now I try to only use data from one direction to test its performance on DCE.

In [111]:
db_downstream = df[df['BUSSID']==4].loc[:,['ACTDATETIME','LONGITUDE','LATITUDE','BUSSID','STATIONTYPE','STATIONSEQNUM']] #select downstream data

In [113]:
db_downstream_filter = db_downstream.groupby((db_downstream.iloc[:,1].shift() != db_downstream.iloc[:,1]).cumsum())\
.filter(lambda x: len(x) <20)

In [114]:
db_downstream_filter.loc[:,['LONGITUDE','LATITUDE']].to_csv('before_DCE_for_route11_Bus51938440_downstream.txt',header=None, index=None, sep=' ', mode='w')