In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('Route_11_bus_51938440.txt',encoding='utf-8')

In [8]:
df.shape

(142324, 33)

In [10]:
df['ACTDATETIME'] = df['ACTDATETIME'].astype('datetime64[ns]')

In [11]:
df.head()

,BUSRDID,DATATYPE,ROUTEID,SUBROUTEID,PRODUCTID,STATIONSEQNUM,STATIONNUM,ISARRLFT,ACTDATETIME,RECDATETIME,...,ONPNUM,OFFPNUM,LEFTPNUM,TPTDATA,DOORSTATE,PECCANCYTYPE,PECCANCYTIME,STANDARDVALUE,PECCANCYVALUE,GPSMILE
0,28408848073,3,11,11,51938440,NaN,0,NaN,2017-05-21 06:43:01,5/21/2017 6:45:21 AM,...,NaN,NaN,NaN,NaN,NaN,NaN,1/1/1970 8:00:00 AM,NaN,NaN,31380518
1,28408848397,3,11,11,51938440,NaN,0,NaN,2017-05-21 06:43:10,5/21/2017 6:45:23 AM,...,NaN,NaN,NaN,NaN,NaN,NaN,1/1/1970 8:00:00 AM,NaN,NaN,31380518
2,28408848933,3,11,11,51938440,NaN,0,NaN,2017-05-21 06:43:21,5/21/2017 6:45:26 AM,...,NaN,NaN,NaN,NaN,NaN,NaN,1/1/1970 8:00:00 AM,NaN,NaN,31380518
3,28408849287,3,11,11,51938440,NaN,0,NaN,2017-05-21 06:43:31,5/21/2017 6:45:28 AM,...,NaN,NaN,NaN,NaN,NaN,NaN,1/1/1970 8:00:00 AM,NaN,NaN,31380518
4,28408849608,3,11,11,51938440,NaN,0,NaN,2017-05-21 06:43:40,5/21/2017 6:45:30 AM,...,NaN,NaN,NaN,NaN,NaN,NaN,1/1/1970 8:00:00 AM,NaN,NaN,31380518

In [19]:
LonLat = df.loc[:,['LONGITUDE','LATITUDE']]

In [20]:
LonLat.to_csv('before_DCE_for_route11_Bus51938440.csv',index=False)